<div class="wrapper">
    <div class="user-name">
        miu miu
    </div>

    <img src="https://firebasestorage.googleapis.com/v0/b/test-firebase-image-81d97.appspot.com/o/Screenshot%202024-02-20%20151404.png?alt=media&token=971da7be-cae5-4f25-95c6-146b484ac3b2" alt="user-avatar" class="user-avatar">

    <ul class="dropdown">
        <li class="hover-effect-yellow-bright dropdown__content">
            <i class="fa-solid fa-user"></i>
            <span>Trang cá nhân</span>
        </li>
        <li class="hover-effect-yellow-bright dropdown__content">
            <i class="fa-solid fa-cart-shopping"></i>
            <span>Giỏ hàng</span>
        </li>
        <li (click)="logOut()" class="hover-effect-yellow-bright dropdown__content">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span>Đăng xuất</span>
        </li>
    </ul>
</div>