.wrapper {
    position: absolute;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 0;
}

.father-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--level2-color);
}

.wrapper__accordion-group {
    width: 100%;
}

.wrapper__accordion {
    display: flex;
    align-items: center;
    gap: 9px;
    background-color: var(--level3-color);
    border-radius: var(--border-radius-1);
    color: var(--dark-text-color);
    width: 100%;
    border: 1px solid var(--dark-level2-border-color);
    transition: 0.4s;
    padding: 15px 18px;
    height: 66px;
}

.wrapper__accordion i {
    transition: 0.21s ease-in-out;
}

.wrapper__accordion.toggle {
    color: var(--secondary-color);
}

.wrapper__accordion.toggle i {
    transform: rotate(180deg);
}

.wrapper__accordion i {
    margin-left: auto;
}

.wrapper__panel {
    background-color: var(--level3-color);
    border: 1px solid var(--dark-level2-border-color);
    border-top: none;
    border-bottom-left-radius: var(--border-radius-1);
    border-bottom-right-radius: var(--border-radius-1);
    transition: 0.21s ease-in-out;

    opacity: 0;
    max-height: 0;
    pointer-events: none;
    /* opacity: 1; */
    /* pointer-events: all; */
}

.wrapper__panel.special {
    border: none;
}

.wrapper__panel__wrapper {
    width: 100%;
    flex-direction: column;
    display: none;
    /* display: flex; */
}

.wrapper__panel.toggle {
    max-height: 90px;
    opacity: 1;
    pointer-events: all;
}

.wrapper__panel.toggle .wrapper__panel__wrapper {
    display: flex;
}

.wrapper__panel__wrapper__level3-item {
    height: 72px;
    width: 100%;
    position: relative;
}

.wrapper__panel__wrapper__level3-item + .wrapper__panel__wrapper__level3-item {
    border-top: 1px solid var(--dark-level2-border-color);
}

.wrapper__panel__wrapper__level3-item__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.wrapper__panel__wrapper__level3-item__content {
    position: relative;
    z-index: 2;
    background-color: var(--level3-color);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__panel__wrapper__level3-item__content:hover {
    opacity: 0.81;
}

.wrapper__panel__wrapper__level3-item__content input {
    position: absolute;
    top: 9px;
    left: 9px;
}

.wrapper__panel__classify {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9px;
    border-right: 1px solid var(--dark-level2-border-color);
    border-left: 1px solid var(--dark-level2-border-color);
}

.wrapper__panel__classify:last-child {
    border-bottom: 1px solid var(--dark-level2-border-color);
    border-top: 1px solid var(--dark-level2-border-color);
}

.wrapper__panel__classify__slash {
    flex: 999;
    border-bottom: 1px solid var(--secondary-color);
    margin-bottom: 3px;
}

.wrapper__panel__classify__text {
    padding: 0 9px;
}

.wrapper__panel__level3-wrapper__item {
    width: 100%;
    display: flex;
    position: relative;
    height: 72px;
    border: 1px solid var(--dark-level2-border-color);
    border-top: none;
    border-bottom: none;
}

.wrapper__panel__level3-wrapper__item + .wrapper__panel__level3-wrapper__item {
    border-top: 1px solid var(--dark-level2-border-color);
}

.wrapper__panel__level3-wrapper__item:first-child {
    border-top: 1px solid var(--dark-level2-border-color);
}

.wrapper__panel__level3-wrapper__item__img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.wrapper__panel__level3-wrapper__item__content {
    background-color: var(--level3-color);
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper__panel__level3-wrapper__item__content input {
    position: absolute;
    top: 12px;
    left: 12px;
}


