.login-modal-container__right-side__body__choice {
    width: 100%;
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: center;
}

.login-modal-container__right-side__body__choice__text {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-modal-container__right-side__body__choice__icon-group {
    padding: 12px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    border-right: 1px solid var(--dark-border-color);
}

.login-modal-container__right-side__body__choice__icon-group.google i {
    color: var(--google-color);
}