/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@300;400;500;600&display=swap');

/*#region BASE*/
html {
    scroll-behavior: smooth;
}

button > * {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

i {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    color: var(--secondary-color);
    transition: 0.24s ease-in-out;
}

a:hover {
    color: var(--primary-color-lighter);
}

a.nothing {
    color: var(--dark-text-color);
    text-align: center;
}

a.nothing:hover {
    color: var(--dark-text-color);
}

body {
    font-family: var(--font-primary);
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
    font-size: var(--fs-normal);
    font-weight: 300;
    white-space: nowrap;
    display: flex;
    justify-content: center;
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--dark-scrollbar-track);
}

::-webkit-scrollbar-thumb {
    background-color: var(--dark-scrollbar-thumb);
    border-radius: 3px;
}

.fw {
    height: inherit;
    overflow-x: hidden;
}

.hh {
    height: 47%;
}

.gap-handle-landing-page {
    display: flex !important;
    flex-direction: column;
    gap: calc((100svh - var(--top-info-height) - var(--header-height) - var(--banner-height) - var(--service-height)) / 4);
}

/*#endregion*/

/*#region VARIABLES*/
:root {
    /* Landing Page Height */
    --top-info-height: 3.6svh;
    --header-height: 7.6svh;
    --banner-height: 50svh;
    --service-height: 33svh;

    /* Scrollbar */
    --vertical-width: 3px;
    --horizontal-height: 3px;
    --dark-scrollbar-track: #242424;
    --dark-scrollbar-thumb: #727272;

    /* Color */
    --primary-color: #3e008a;
    --primary-color-lighter: #8932f3;
    --secondary-color: #c5b358;
    --danger-color: #a73131;
    --red-color: #d0312d;

    --dark-border-color: #282b28;
    --light-border-color: #8f8f8f61;
    --dark-level2-border-color: #393b39;

    --dark-glass-blur: hsla(0, 0%, 7%, 0.695);

    --dark-background-color: #09060a;
    --light-background-color: whitesmoke;

    --dark-panel-color: #080508;

    --dark-text-color: #dfdfdf;
    --light-text-color: #dfdfdf;

    /* Painting filter Menu color */
    --level3-color: rgba(36, 36, 36, 0.918);
    --level2-color: rgba(24, 24, 24, 0.952);
    --level1-color: rgba(15, 15, 15, 0.925);

    /* Overlay color */
    --overlay-color: rgba(0, 0, 0, 0.72);

    /* Form Color */
    --checkbox-border-color: #505050;
    --input-text-focus-color: #616161;

    /* font-family */
    --font-primary: 'Anuphan', sans-serif;
    --font-secondary: 'EB Garamond', serif;

    /* Font Size */
    --fs-less-2: calc(var(--fs-normal) - 6px);
    --fs-less-1: calc(var(--fs-normal) - 3px);
    --fs-normal: 18px;

    --fs-larger-1: calc(var(--fs-normal) + 3px);
    --fs-larger-2: calc(var(--fs-normal) + 6px);
    --fs-larger-3: calc(var(--fs-normal) + 9px);
    --fs-larger-4: calc(var(--fs-normal) + 12px);
    --fs-larger-5: calc(var(--fs-normal) + 15px);

    --fs-main-title: clamp(3.1875rem, 2.2039rem + 4.918vw, 5.625rem);
    --fs-main-title-mobile: clamp(1.5rem, 0.4314rem + 4.7493vw, 2.625rem);

    /* Border-radius */
    --border-radius-1: 3px;
    --border-radius-2: 6px;
    --border-radius-3: 9px;

    /* Masonry gap */
    --masonry-gap: 7.2px;
}

/*#endregion*/

/*#region Frame Picture*/
.border-container {
    max-height: 60%;
    height: auto;
    max-width: 80%;
    min-width: 20%;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.border {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid rgb(61, 61, 61);
    background-color: white;
    -moz-box-shadow: -11px 11px 27px -4px rgba(0, 0, 0, 0.75), inset -1px 1px 6px 1px rgba(0, 0, 0, .24);
    -webkit-box-shadow: -11px 11px 27px -4px rgba(0, 0, 0, 0.75), inset -1px 1px 6px 1px rgba(0, 0, 0, .24);
    box-shadow: -11px 11px 27px -4px rgba(0, 0, 0, 0.75), inset -1px 1px 6px 1px rgba(0, 0, 0, .24);
}

.frame {
    width: 100%;
    height: 100%;
    border: 6px solid #dfdfdf;
    box-shadow: inset -1px 1px 6px 1px rgba(0, 0, 0, .24);
}

.image {
    background-image: url("../images/van-gogh-test.png");
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
}

.ar-11 {
    aspect-ratio: 1/1;
}

.ar-169 {
    aspect-ratio: 16 / 9;
}

.ar-916 {
    aspect-ratio: 9 / 16;
}

.ar-34 {
    aspect-ratio: 3 / 4;
}

.ar-43 {
    aspect-ratio: 4 / 3;
}

/*#endregion*/

/*#region BUTTON*/
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 21px;
    color: var(--text-color);
    line-height: 1.2;
    white-space: nowrap;
    font-size: var(--fs-normal);
}

.btn.sm {
    padding: 0.8em 1em;
    width: 8.1em;
    font-size: var(--fs-less-1);
}

.btn.md {
    padding: 1.1em 1.3em;
    width: 8.4em;
}

.btn.pr {
    background-color: var(--primary-color);
}

.btn.outline {
    border: 1px solid var(--dark-border-color);
}

/*#endregion*/

/*#region Input*/

/*#region Input - checkbox*/
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    cursor: pointer;
    font: inherit;
    color: var(--checkbox-border-color);
    width: 1em;
    /* min-width: 18px; */
    height: 1em;
    border: 1px solid var(--checkbox-border-color);
    transform: translateY(-0.075em);

    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--secondary-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="checkbox"]:focus {
    outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
    color: var(--dark-scrollbar-thumb);
    cursor: not-allowed;
}

/*#endregion*/

/*#region Input - Text */
input[type="text"]:focus {
    border-color: var(--input-text-focus-color);
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

input[type="text"] {
    color: var(--dark-text-color);
    transition: 0.15s ease-in-out;
    border: 1px solid var(--dark-level2-border-color);
}

input[type="text"].round {
    border-radius: 21px;
}

input[type="text"].no-border {
    border-color: transparent;
}

/*#endregion*/
/*#endregion*/

/*#region Painting Tag*/
.painting-tag {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--dark-border-color);
    border-radius: 30px;
    padding: 9px 12px;
    column-gap: 9px;
    position: relative;
    overflow: hidden;
    min-width: 90px;
    -webkit-user-select: none;
    user-select: none;
}

.painting-tag input {
    scale: 0.9;
    margin-top: 1.2px;
}

.painting-tag.filter {
    line-height: 2;
    min-width: max-content;
    max-width: 48%;
    gap: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.painting-tag__overlay {
    position: absolute;
    background-color: #303030a1;
    inset: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 18px;
    transition: 0.24s ease-in-out;
    opacity: 0;
}

.painting-tag.filter:hover .painting-tag__overlay {
    opacity: 1;
}

.painting-tag__overlay i {
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
}


.painting-tag i {
    font-size: 12px;
}

.painting-tag__content {
    font-size: 15px;
    max-width: 120px;
    letter-spacing: -0.3px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/*#endregion*/

/*#region OTHER*/
@keyframes ripple {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}

@keyframes gradient-text-animation {
    from {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    to {
        background-position: 0 50%;
    }
}

@keyframes list-page-left-upper-glowing-background {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 360% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@keyframes landing-page-clickbate-banner-animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

@keyframes landing-page-banner-right-side-bannermove {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-60%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes landing-page-responsive-right-side-move {
    0% {
        transform: translateY(-30%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes overlay__fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes responsive-tablet-content-slide-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes responsive-tablet-content-slide-up-down {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.touch-active {
    filter: brightness(1.5);
}

.hover-effect-yellow-bright,
.hover-effect-2,
.hover-effect-painting-tag,
.hover-effect-button-1,
.hover-effect-menu-1,
.hover-effect-silver-border,
.hover-effect-brighter-opaquer {
    cursor: pointer;
    transition: all 0.3s ease;
}

.hovering.hover-effect-brighter-opaquer:hover {
    background-color: rgba(0, 0, 0, 0.349);
    filter: brightness(1.2);
}

.hover-effect-yellow-bright:hover {
    color: var(--secondary-color);
    filter: brightness(1.2);
}

.hover-effect-silver-border:hover {
    border-color: var(--light-border-color);
    filter: brightness(1.152);
}

.hover-effect-2:hover {
    color: var(--danger-color);
    filter: brightness(1.2);
}

.hover-effect-button-1:hover {
    color: var(--secondary-color);
    filter: brightness(1.2);
    box-shadow: 0px 1px 21px -9px #c5b358;
}

.hover-effect-menu-1:hover {
    color: var(--secondary-color);
    filter: brightness(1.2);
    transform: translateX(3px);
}

.hover-effect-painting-tag:hover {
    -webkit-box-shadow: 1px 1px 14px -6px var(--dark-scrollbar-thumb);
    -moz-box-shadow: 1px 1px 14px -6px var(--dark-scrollbar-thumb);
    box-shadow: 1px 1px 14px -6px var(--dark-scrollbar-thumb);
    color: var(--secondary-color);
    scale: 1.005;
}

/*#endregion*/

/*#region MEDIA QUERIES*/
/* Height responsive */
@media (min-height: 1365px) and (max-width: 1025px) {
    .border-container {
        min-width: 60% !important;
    }
}

/* Extra Large screens and TV */
@media (min-width: 1603px) {
    .btn.md {
        padding: 9px 18px;
        width: 150px;
    }

    .list-page-wrapper__right-side__content__body__lower {
        column-count: 5;
    }
}

/* Below Large screens and desktops [NORMAL SCREEN] */
@media (max-width: 1602px) {
    .list-page-wrapper__right-side__content__body__lower {
        column-count: 4;
    }

    :root {
        --fs-normal: 16px;
    }

    .border-container {
        min-width: 30%;
    }

    .btn.md {
        padding: 9px 18px;
        width: 150px;
    }

    .landing-page-banner__right-side {
        width: 60%;
    }
}

/* Below Average screen [SMALL SCREEN] */
@media (max-width: 1333px) {
    .list-page-wrapper {
        /* Left side */
        --left-side-width: 6%;
        --left-side-upper-height: 11.1%;
        --list-page-wrapper-padding: 0.81%;
        --left-side-gap: calc(var(--list-page-wrapper-padding) * 1.618);
    }

    .list-page-wrapper__right-side__content__header__user-group__cart-group-tablet {
        display: block;
    }

    .list-page-wrapper__right-side__content__header__user-group__cart-group {
        display: none;
    }

    .list-page-wrapper__left-side__upper {
        min-height: 0;
    }

    .list-page-wrapper__left-side {
        min-width: 102px;
    }

    .list-page-wrapper__left-side__lower__responsive-screen {
        display: none;
    }

    .list-page-wrapper__right-side__content__body__lower {
        column-count: 3;
    }

    .list-page-wrapper__left-side__upper__content__title__responsive-screen {
        display: none;
    }

    .list-page-wrapper__left-side__upper__content__title__responsive-tablet {
        display: block;
    }
}

/* Below small screen [TABLET] */
@media (max-width: 1023px) {
    .list-page-wrapper__right-side__content__body__lower__product-item__info {
        display: none;
    }

    .list-page-wrapper__right-side__content__header__search-group {
        width: 300px;
    }

    :root {
        --fs-normal: 14px;
    }

    .gap-handle-landing-page {
        position: fixed;
        inset: 0;
        z-index: -1;
    }

    .top-info {
        padding: 9px 3.3%;
    }

    .border-container {
        min-width: 80%;
    }

    .frame {
        border-width: 6px;
    }

    .border {
        border-width: 6px;
    }

    .landing-page-clickbate {
        margin: 12px auto;
        width: 162px;
    }

    .landing-page__responsive {
        display: block;
    }

    .landing-page-service {
        display: none;
    }

    .landing-page-banner {
        display: none;
    }

    .landing-page-header__logo-responsive-group {
        display: flex;
    }

    .landing-page-header__logo {
        display: none;
    }

    .top-info__contact-list {
        display: none;
    }

    .top-info__social-media-list {
        display: none;
    }

    .btn.md {
        padding: 9px 18px;
        width: 150px;
    }

    .top-info__hamburger-bar-group {
        display: flex;
    }

    .landing-page-header__button-group {
        display: none;
    }
}

/* Below Tablets [LARGE PHONE] */
@media (max-width: 739px) {
    .list-page-wrapper__right-side__content__body__upper {
        padding-bottom: 0px;
    }

    .list-page-wrapper__mobile-utilities {
        display: flex;
    }

    .list-page-wrapper__right-side__content__header__hamburger-group {
        display: flex;
    }

    .list-page-wrapper__right-side__content__header__user-group {
        display: none;
    }

    .list-page-wrapper__right-side__content__header__search-group {
        padding: 0;
        width: 60%;
        margin-left: auto;
        margin-right: 1.8px;
        z-index: 3;
        transition: 0.3s ease;
    }

    .list-page-wrapper__right-side__content__header__search-group.expand {
        flex: 1;
    }

    .list-page-wrapper__right-side__content__header {
        display: flex;
        height: 7.5%;
        align-items: center;
        justify-content: flex-end;
        padding: 0 18px;
        padding-top: 1.2px;
    }

    .list-page-wrapper__right-side__content__header__mobile-title {
        display: flex;
    }

    .list-page-wrapper__right-side__content__body__mobile-search-group {
        display: flex;
    }

    .list-page-wrapper__right-side__content__body__mobile-filter-group {
        display: flex;
    }

    .list-page-wrapper__right-side__content__body__lower__product-item {
        border-radius: var(--border-radius-3);
    }

    .list-page-wrapper__right-side__content__body {
        padding: 0 18px;
    }

    .list-page-wrapper__right-side__content {
        border: none;
    }

    .list-page-wrapper__mobile-navigation {
        display: flex;
    }

    .list-page-wrapper__right-side {
        padding: 0;
    }

    .list-page-wrapper {
        --right-side-width: 100%;
    }

    .list-page-wrapper__left-side {
        display: none;
    }

    h1 {
        border: 1px solid transparent;
    }

    .list-page-wrapper__right-side__content__body__lower {
        column-count: 2;
    }

    :root {
        --fs-normal: 14px;
    }

    .landing-page__responsive__tablet-hamburger-content-mobile {
        display: flex;
    }

    .top-info__hamburger-bar-group {
        display: none;
    }

    .top-info__hamburger-bar-group.mobile {
        display: flex;
    }

    .landing-page__responsive__mobile {
        display: block;
    }

    .border-container {
        min-width: 40%;
    }

    .landing-page__responsive__tablet {
        display: none;
    }

    .landing-page-clickbate {
        width: 120px;
        padding: 6px 12px;
    }
}

/* Mobile normal to high resolution [SMALL PHONE] */
@media (max-width: 480px) {
    .landing-page__responsive__mobile__banner__left-side__title {
        margin-left: 15%;
    }

    .landing-page-clickbate {
        width: 102px;
        padding: 6px 12px;
    }

    .landing-page__responsive__mobile__banner__right-side__bottom__sub-desc {
        margin-left: 6%;
    }
}

/*#endregion*/