<div class="wrapper">
    <section class="banner">
        <div class="banner__overlay">
            
        </div>

        <div class="banner__left-side">
            <div class="banner__left-side__container">
                <div class="banner__left-side__container__sub_desc">
                    Giá chỉ từ 150.000 VNĐ
                </div>
                <h1 class="banner__left-side__container__title">
                    Hudagon
                </h1>
                <p class="banner__left-side__container__desc">
                    Nền tảng bán tranh AI đầu tiên tại Việt Nam
                </p>
                <a class="btn landing-page-clickbate" href="../list-page/list-page.html">Mua
                    ngay</a>
            </div>
        </div>

        <div class="banner__right-side">
            <div class="banner__right-side__frame-container">
                <app-landing-page-frame [imgUrl]="'huhuhu'" [aspectRatio]="'ar-11'"></app-landing-page-frame>
                <app-landing-page-frame [imgUrl]="'huhuhu'" [aspectRatio]="'ar-34'"></app-landing-page-frame>
                <app-landing-page-frame [imgUrl]="'huhuhu'" [aspectRatio]="'ar-169'"></app-landing-page-frame>
                <app-landing-page-frame [imgUrl]="'huhuhu'" [aspectRatio]="'ar-43'"></app-landing-page-frame>
                <app-landing-page-frame [imgUrl]="'huhuhu'" [aspectRatio]="'ar-916'"></app-landing-page-frame>
                <app-landing-page-frame [imgUrl]="'huhuhu'" [aspectRatio]="'ar-43'"></app-landing-page-frame>
                <app-landing-page-frame [imgUrl]="'huhuhu'" [aspectRatio]="'ar-11'"></app-landing-page-frame>
                <app-landing-page-frame [imgUrl]="'huhuhu'" [aspectRatio]="'ar-916'"></app-landing-page-frame>
                <app-landing-page-frame [imgUrl]="'huhuhu'" [aspectRatio]="'ar-34'"></app-landing-page-frame>
                <app-landing-page-frame [imgUrl]="'huhuhu'" [aspectRatio]="'ar-169'"></app-landing-page-frame>
            </div>
        </div>
    </section>

    <section class="service">

    </section>
</div>