<div class="wrapper">
    <app-overlay></app-overlay>

    <div class="login-modal-container">
        <div class="login-modal-container__left-side">
            <h2 class="login-modal-container__left-side__logo">
                Hudagon
            </h2>
        </div>

        <div class="login-modal-container__right-side">
            <div class="login-modal-container__right-side__header">
                <h2 class="login-modal-container__right-side__header__title">
                    Đăng Nhập
                </h2>
            </div>

            <div class="login-modal-container__right-side__body">
                <div class="login-modal-container__right-side__body__form-group">
                    <input type="text" placeholder="tên đăng nhập..."
                        class="login-modal-container__right-side__body__form-group__control">
                </div>

                <div class="login-modal-container__right-side__body__form-group">
                    <input type="password" placeholder="mật khẩu..."
                        class="login-modal-container__right-side__body__form-group__control">
                </div>

                <div class="login-modal-container__right-side__body__utilities">
                    <span class="login-modal-container__right-side__body__utilities__forgot-password">
                        Quên mật khẩu?
                    </span>

                    <div class="login-modal-container__right-side__body__utilities__remember-me">
                        <div class="login-modal-container__right-side__body__utilities__remember-me__form-group">
                            <input type="checkbox"
                                class="login-modal-container__right-side__body__utilities__remember-me__form-group__control">
                        </div>
                        <span class="login-modal-container__right-side__body__utilities__remember-me__text">
                            Ghi nhớ đăng nhập
                        </span>
                    </div>
                </div>
            </div>

            <div class="login-modal-container__right-side__footer">
                <div class="login-modal-container__right-side__footer__divider">
                    <span class="login-modal-container__right-side__footer__divider__line"></span>
                    <span class="login-modal-container__right-side__footer__divider__text">
                        Hoặc
                    </span>
                    <span class="login-modal-container__right-side__footer__divider__line"></span>
                </div>

                <div class="login-modal-container__right-side__footer__icon-group"></div>

                <div class="login-modal-container__right-side__footer__register-cta">
                    <span class="login-modal-container__right-side__footer__register-cta__text-1">
                        Chưa có tải khoản?
                    </span>
                    <span class="login-modal-container__right-side__footer__register-cta__text-2">
                        Đăng ký ngay
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>