<header class="landing-page-header">
    <div class="landing-page-header__logo">
        LOGO
    </div>

    <div class="landing-page-header__logo-responsive-group">
        <span class="landing-page-header__logo-responsive-group__slash"></span>
        <span class="landing-page-header__logo-responsive-group__logo">
            LOGO
        </span>
        <span class="landing-page-header__logo-responsive-group__slash"></span>
    </div>

    <div class="landing-page-header__button-group">
        <button (click)="toggleLoginModal()" type="button" class="hover-effect-yellow-bright landing-page-header__button-group__login btn">
            Đăng nhập
        </button>
        <button type="button" class="hover-effect-yellow-bright btn pr">
            Đăng ký ngay
        </button>
    </div>
</header>