.list-page-wrapper {
    --list-page-wrapper-padding: 0.72%;

    /* Left side */
    --left-side-width: 18%;
    --left-side-upper-height: 9%;
    --left-side-lower-height: calc(100% - var(--left-side-upper-height) - calc(var(--list-page-wrapper-padding) * 2));

    /* Right side */
    --right-side-width: calc(100% - var(--left-side-width));

    height: 100svh;
    max-height: 1080px;
    max-width: 1920px;
    width: 100vw;
    background-color: var(--dark-background-color);
    display: flex;
    justify-content: center;
}

/*#region List Page Left Side*/
.list-page-wrapper__left-side {
    height: 100%;
    width: var(--left-side-width);
    padding: var(--list-page-wrapper-padding);
    gap: var(--list-page-wrapper-padding);
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

/* UPPER */
.list-page-wrapper__left-side__upper {
    border-radius: var(--border-radius-2);
    border: 1px solid var(--dark-border-color);
    width: 100%;
    height: var(--left-side-upper-height);
    background-color: var(--dark-panel-color);
    display: flex;
    background: rgb(62, 0, 138);
    background: radial-gradient(circle, rgba(62, 0, 138, 1) 0%, rgba(197, 179, 88, 1) 100%);
    animation: list-page-left-upper-glowing-background 90s linear infinite;
    overflow: hidden;
    background-size: 360%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 90px;
    max-height: 90px;
}

.list-page-wrapper__left-side__upper__content {
    z-index: 2;
    color: var(--dark-text-color);
    height: 100%;
    padding: 4.5% 0;
    width: 100%;
    font-family: var(--font-primary);
    border: 1px solid transparent;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.list-page-wrapper__left-side__upper__content__overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
    background: var(--dark-glass-blur);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
}

.list-page-wrapper__left-side__upper__content__title {
    font-size: var(--fs-larger-5);
    margin: 0 6px;
    z-index: 2;
    font-family: var(--font-secondary);
}

.list-page-wrapper__left-side__upper__content__title__responsive-tablet {
    display: none;
}

/* LOWER */
.list-page-wrapper__left-side__lower {
    border-radius: var(--border-radius-2);
    border: 1px solid var(--dark-border-color);
    width: 100%;
    height: var(--left-side-lower-height);
    background-color: var(--dark-panel-color);
    min-height: 450px;
    overflow: hidden;
}

.list-page-wrapper__left-side__lower__responsive-screen {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.list-page-wrapper__left-side__lower__menu {
    background: var(--level1-color);
    -webkit-backdrop-filter: blur(9px);
    backdrop-filter: blur(9px);
    width: 100%;
    font-size: var(--fs-less-1);
    border-bottom: 1px solid var(--dark-border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.list-page-wrapper__left-side__lower__menu__item {
    flex: 1;
    text-align: center;
    padding: 3% 0;
}

.list-page-wrapper__left-side__lower__menu__item.activated {
    border-bottom: 1px solid var(--secondary-color);
    color: var(--secondary-color);
}

.list-page-wrapper__left-side__lower__body {
    padding: 4.5%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
    margin-bottom: 12px;
}

.list-page-wrapper__left-side__lower__body__level-1-menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.list-page-wrapper__left-side__lower__body__level-1-menu__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 60px;
    padding: 18px 0;
    border: 1px solid var(--dark-border-color);
    padding-left: 21px;
    padding-right: 30px;
    border-radius: var(--border-radius-1);
    background-color: var(--level1-color);
}

.list-page-wrapper__left-side__lower__body__level-1-menu__item__title {
    font-size: var(--fs-larger-1);
}

.list-page-wrapper__left-side__lower__body__level-1-menu__item i {
    transition: 0.24s ease-in-out;
}

.list-page-wrapper__left-side__lower__body__level-1-menu__item.activated {
    color: var(--secondary-color);
    background-color: var(--level2-color);
}

.list-page-wrapper__left-side__lower__body__level-1-menu__item.activated i {
    transform: rotate(180deg);
}

/* Footer */
.list-page-wrapper__left-side__lower__footer {
    font-size: var(--fs-less-1);
    width: 100%;
    border-top: 1px solid var(--dark-border-color);
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.list-page-wrapper__left-side__lower__footer i {
    margin-top: 2.4px;
    font-size: 6px;
    color: var(--primary-color);
    opacity: 0.81;
}

/*#endregion*/

/*#region List Page Right Side*/
.list-page-wrapper__right-side {
    padding: var(--list-page-wrapper-padding) 0px;
    padding-right: var(--list-page-wrapper-padding);
    height: 100%;
    width: var(--right-side-width);
    overflow: hidden;
}

.list-page-wrapper__right-side__content {
    border: 1px solid var(--dark-border-color);
    width: 100%;
    background-color: var(--dark-panel-color);
    border-radius: var(--border-radius-2);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.list-page-wrapper__right-side__content__filter-bar {
    z-index: 2;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 100%;
    width: 0px;
    background-color: var(--level2-color);
    border-right: 1px solid var(--dark-level2-border-color);
    transition: all ease-in-out 0.3s;
}

.list-page-wrapper__right-side__content__filter-bar.activated {
    width: 300px;
    opacity: 1;
    pointer-events: all;
}

.list-page-wrapper__right-side__content__filter-bar__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    min-height: 54px;
    height: 6%;
    padding-left: 18px;
    border-bottom: 1px solid var(--dark-level2-border-color);
}

.list-page-wrapper__right-side__content__filter-bar__header__title {
    font-size: var(--fs-larger-1);
}

.list-page-wrapper__right-side__content__filter-bar__header i {
    display: flex;
    padding: 6px 8px;
    margin-right: 21.3px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-1);
}

.list-page-wrapper__right-side__content__filter-bar__header i:hover {
    background-color: var(--level1-color);
}

.list-page-wrapper__right-side__content__filter-bar__body {
    width: 100%;
    height: 100%;
    padding: 12px;
    flex: 1;
    gap: 12px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-bottom: 12px;
    /* scrollbar-gutter: stable both-edges; */
}

.list-page-wrapper__right-side__content__filter-bar__body__accordion-group {
    width: 100%;
}

.list-page-wrapper__right-side__content__filter-bar__body__accordion {
    display: flex;
    align-items: center;
    gap: 9px;
    background-color: var(--level3-color);
    border-radius: var(--border-radius-1);
    color: var(--dark-text-color);
    width: 100%;
    border: 1px solid var(--dark-level2-border-color);
    transition: 0.4s;
    padding: 15px 18px;
}

.list-page-wrapper__right-side__content__filter-bar__body__accordion.activated {
    color: var(--secondary-color);
}

.list-page-wrapper__right-side__content__filter-bar__body__accordion__dropdown-level2-body {
    transition: 0.24s ease-in-out all;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.list-page-wrapper__right-side__content__filter-bar__body__accordion__dropdown-level2-body.activated {
    transform: rotate(180deg);
    color: var(--secondary-color);
}

.list-page-wrapper__right-side__content__filter-bar__body__accordion input {
    margin-top: 1px;
}

.list-page-wrapper__right-side__content__filter-bar__body__panel {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    background-color: var(--level2-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__wrapper {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--dark-level2-border-color);
    border-bottom: none;
    border-top: none;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

/* Aspect Ratio Body */
.list-page-wrapper__right-side__content__filter-bar__body__aspect-ratio-body {
    width: 100%;
}

.list-page-wrapper__right-side__content__filter-bar__body__aspect-ratio-body__portrait-group,
.list-page-wrapper__right-side__content__filter-bar__body__aspect-ratio-body__landspace-group {
    width: 100%;
    display: flex;
    height: 100%;
    gap: 12px;
    flex-direction: column;
}

.list-page-wrapper__right-side__content__filter-bar__body__aspect-ratio-body__landspace-group {
    padding-left: 12px;
}

.list-page-wrapper__right-side__content__filter-bar__body__aspect-ratio-body__portrait-group__content,
.list-page-wrapper__right-side__content__filter-bar__body__aspect-ratio-body__landspace-group__content {
    width: 100%;
    background-color: var(--level3-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-level2-border-color);
    border-radius: var(--border-radius-1);
    position: relative;
}

.list-page-wrapper__right-side__content__filter-bar__body__aspect-ratio-body__portrait-group__content input,
.list-page-wrapper__right-side__content__filter-bar__body__aspect-ratio-body__landspace-group__content input {
    position: absolute;
    top: 6px;
    left: 6px;
}

/* Style Body */
.list-page-wrapper__right-side__content__filter-bar__body__panel__wrapper.style-panel {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    gap: 0;
    transition: max-height 0.3s ease-out;
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__wrapper.style-panel.level3 {
    max-height: 0;
    overflow: hidden;
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__wrapper__style-group {
    width: 100%;
    height: 81px;
    position: relative;
    cursor: pointer;
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__wrapper__style-group:last-child {
    border-bottom: 1px solid var(--dark-level2-border-color);
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__wrapper__style-group+.list-page-wrapper__right-side__content__filter-bar__body__panel__wrapper__style-group {
    border-top: 1px solid var(--dark-level2-border-color);
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__wrapper__style-group input {
    position: absolute;
    top: 6px;
    left: 6px;
    background-color: var(--dark-background-color);
    z-index: 3;
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__wrapper__style-group__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__wrapper__style-group__overlay {
    position: absolute;
    inset: 0;
    background-color: var(--overlay-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__style-define {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    padding: 0 12px;
    border: 1px solid var(--dark-level2-border-color);
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__style-define__slash {
    flex: 999;
    border-bottom: 1px solid var(--secondary-color);
}

.list-page-wrapper__right-side__content__filter-bar__body__panel__style-define__text {
    flex: 1;
}


/* Color Body */
.list-page-wrapper__right-side__content__filter-bar__body__color-body {
    width: 100%;
    min-width: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__upper {
    width: 100%;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__upper__wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 12px;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__upper__color-group {
    width: 30%;
    position: relative;
    aspect-ratio: 1/1;
    z-index: 1;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__upper__color-group__overlay {
    position: absolute;
    inset: 0;
    background-color: #0000001e;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__upper__color-group__overlay.else {
    background-color: transparent;
    border: 1px solid var(--dark-level2-border-color);
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__upper__color-group__overlay.else span {
    opacity: 1;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__upper__color-group__overlay span {
    z-index: 3;
    opacity: 0;
    font-size: var(--fs-less-1);
    transition: 0.24s ease-in-out;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__upper__color-group__overlay:hover>* {
    opacity: 1;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__upper__color-group input {
    position: absolute;
    background-color: var(--dark-background-color);
    top: 6px;
    left: 6px;
    z-index: 3;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__lower {
    border-top: 1px solid var(--secondary-color);
    margin-top: 12px;
    padding-top: 12px;
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: space-between;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__lower__color-group {
    flex: 1;
    position: relative;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__lower__color-group input {
    position: absolute;
    background-color: var(--dark-background-color);
    top: 6px;
    left: 6px;
    z-index: 3;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__lower__color-group__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__lower__color-group__overlay {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000067;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__lower__color-group__overlay span {
    z-index: 3;
    opacity: 0;
    font-size: var(--fs-less-1);
    transition: 0.24s ease-in-out;
}

.list-page-wrapper__right-side__content__filter-bar__body__color-body__lower__color-group__overlay:hover>* {
    opacity: 1;
}

/*#region Right side - Header*/
.list-page-wrapper__right-side__content__header {
    height: 6%;
    min-height: 54px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    border-bottom: 1px solid var(--dark-border-color);
    position: relative;
}

.list-page-wrapper__right-side__content__header__mobile-title {
    height: 100%;
    font-family: var(--font-secondary);
    align-items: center;
    justify-content: center;
    display: none;
    transition: 0.3s ease-in-out;
    position: absolute;
    padding-left: 18px;
    left: 0;
}

.list-page-wrapper__right-side__content__header__mobile-title.invisible {
    opacity: 0;
}

.list-page-wrapper__right-side__content__header__mobile-title__gradient-container__background {
    background: linear-gradient(90deg,
            var(--secondary-color),
            var(--primary-color));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    animation: gradient-text-animation 60s alternate infinite;
}

.list-page-wrapper__right-side__content__header__hamburger-group {
    margin-right: 2.4px;
    display: none;
    align-items: center;
    flex-direction: column;
    gap: 3px;
}

.list-page-wrapper__right-side__content__header__hamburger-group__bar {
    height: 2px;
    width: 21px;
    background-color: var(--dark-text-color);
    border-radius: 5px;
    transition: 0.3s ease;
}

.list-page-wrapper__right-side__content__header__search-group {
    grid-area: 1 / 2 / span 1 / span 1;
    display: flex;
    width: 360px;
    align-items: center;
    position: relative;
}

.list-page-wrapper__right-side__content__header__search-group .fa-xmark {
    margin-right: 27px;
}

.list-page-wrapper__right-side__content__header__search-group i {
    position: absolute;
    right: 18px;
    opacity: 0.72;
    transition: 0.24s ease-in-out;
    padding: 3px;
}

.list-page-wrapper__right-side__content__header__search-group i:focus,
.list-page-wrapper__right-side__content__header__search-group i:hover {
    opacity: 1;
    color: var(--secondary-color);
}

.list-page-wrapper__right-side__content__header__search-group__search-bar {
    width: 100%;
    height: 72%;
    padding: 9px;
    padding-right: 66px;
    padding-left: 15px;
}

.list-page-wrapper__right-side__content__header__user-group {
    grid-area: 1 / 3 / span 1 / span 1;
    height: 100%;
    width: 100px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 21px;
    position: relative;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group {
    position: relative;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__amount {
    font-size: var(--fs-less-1);
    color: white;
    background-color: #da1814d0;
    position: absolute;
    padding: 0 3px;
    border-radius: 9px;
    bottom: -6px;
    left: -6px;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down {
    position: absolute;
    pointer-events: none;
    top: 27px;
    right: 0px;
    max-height: 300px;
    width: 300px;
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-1);
    background-color: var(--level2-color);
    transition: 0.3s ease-in-out;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down::before {
    content: "";
    position: absolute;
    top: -15px;
    right: 0px;
    width: 66px;
    height: 15px;
    background-color: transparent;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group:hover .list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down {
    opacity: 1;
    pointer-events: all;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down__product-list {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 270px;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down__product-list__item {
    width: 100%;
    display: flex;
    align-items: center;
    height: 81px;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down__product-list__item+.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down__product-list__item {
    border-top: 1px solid var(--dark-border-color);
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down__product-list__item__image {
    width: 30%;
    height: 100%;
    object-fit: cover;
    padding: 6px;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down__product-list__item__info {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    gap: 9px;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down__product-list__item__info__title {
    text-overflow: ellipsis;
    overflow: hidden;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down__product-list__item__info__view-detail {
    font-size: var(--fs-less-1);
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down__link-group {
    border-top: 1px solid var(--dark-border-color);
    width: 100%;
    padding: 15px 18px;
    display: flex;
    justify-content: end;
    background-color: var(--level1-color);
}

.list-page-wrapper__right-side__content__header__user-group__cart-group__drop-down__link-group__to-cart-link {
    margin-left: auto;
}

.list-page-wrapper__right-side__content__header__user-group__login-group {
    margin-left: 21px;
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page-wrapper__right-side__content__header__user-group__login-group i {
    transition: 0.24s ease-in-out;
    position: absolute;
}

/*#endregion*/

/*#region Right side - Body*/
.list-page-wrapper__right-side__content__body {
    flex: 1;
    width: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    position: relative;
}

.list-page-wrapper__right-side__content__body__upper {
    width: 100%;
    padding: 12px 0px;
    display: flex;
    align-items: center;
    font-size: var(--fs-less-1);
    gap: 12px;
}

.list-page-wrapper__right-side__content__body__upper__results {
    display: flex;
    gap: 3px;
    font-size: var(--fs-normal);
}

.list-page-wrapper__right-side__content__body__upper__results__number {
    color: var(--secondary-color);
}

.list-page-wrapper__right-side__content__body__upper__tag-group {
    display: flex;
    align-items: center;
    gap: 9px;
    overflow-x: auto;
}

.list-page-wrapper__right-side__content__body__upper__tag-group__item__button {
    font-size: var(--fs-less-1) !important;
    padding: 8px 12px;
    border: 1px solid var(--dark-border-color);
    background-color: var(--level3-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.list-page-wrapper__right-side__content__body__upper__tag-group__item__button i {
    font-size: var(--fs-less-2);
}

.list-page-wrapper__right-side__content__body__upper__hint {
    display: flex;
    margin-left: auto;
    align-items: center;
    gap: 3px;
}

.list-page-wrapper__right-side__content__body__upper__hint__contact-us {
    color: var(--secondary-color);
}

.list-page-wrapper__right-side__content__body__lower {
    width: 100%;
    flex: 1;
    column-gap: var(--masonry-gap);
}

.list-page-wrapper__right-side__content__body__lower__product-item {
    break-inside: avoid-column;
    margin-bottom: var(--masonry-gap);
    position: relative;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.list-page-wrapper__right-side__content__body__lower__product-item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-1);
}

.list-page-wrapper__right-side__content__body__lower__product-item__info {
    position: absolute;
    bottom: -1px;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px;
    gap: 12px;
    background: rgba(0, 0, 0, 0.678);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.list-page-wrapper__right-side__content__body__lower__product-item:hover .list-page-wrapper__right-side__content__body__lower__product-item__info {
    opacity: 1;
}

.list-page-wrapper__right-side__content__body__lower__product-item__info__title {
    font-weight: normal;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    word-spacing: 1.8px;

    @supports (-webkit-line-clamp: 2) {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: initial;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.list-page-wrapper__right-side__content__body__lower__product-item__info__button-group {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 6px;
    justify-content: center;
}

.list-page-wrapper__right-side__content__body__lower__product-item__info__button-group__button {
    padding: 3px;
    color: var(--secondary-color);
    width: 60%;
}
/*#endregion*/

/*#endregion*/

/*#region List Page Left Side Responsive Tablet*/
.list-page-wrapper__left-side__lower__repsonsive-tablet {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-page-wrapper__left-side__lower__repsonsive-tablet__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-page-wrapper__left-side__lower__repsonsive-tablet__list__item {
    font-size: var(--fs-less-1);
    gap: 3px;
    width: 100%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.list-page-wrapper__left-side__lower__repsonsive-tablet__list__item i {
    font-size: var(--fs-normal);
}

.list-page-wrapper__left-side__lower__repsonsive-tablet__list__item.activated {
    background-color: var(--level2-color);
    color: var(--secondary-color);
}

.list-page-wrapper__left-side__lower__repsonsive-tablet__info {
    margin-top: auto;
    border-top: 1px solid var(--dark-border-color);
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px;
    background-color: var(--level1-color);
}

.list-page-wrapper__left-side__lower__repsonsive-tablet__info.activated {
    color: var(--secondary-color);
}

.list-page-wrapper__right-side__content__filter-bar-tablet {
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
    position: absolute;
    max-width: 27%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 100%;
    width: 0px;
    background-color: var(--level2-color);
    border-right: 1px solid var(--dark-level2-border-color);
    transition: all ease-in-out 0.3s;
}

.list-page-wrapper__right-side__content__filter-bar-tablet.activated {
    width: 300px;
    opacity: 1;
    pointer-events: all;
}

.list-page-wrapper__right-side__content__filter-bar-tablet__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    min-height: 54px;
    height: 6%;
    padding-left: 18px;
    border-bottom: 1px solid var(--dark-level2-border-color);
}

.list-page-wrapper__right-side__content__filter-bar-tablet__header i {
    display: flex;
    padding: 6px 8px;
    margin-right: 21.3px;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-1);
}

.list-page-wrapper__right-side__content__filter-bar-tablet__header i:hover {
    background-color: var(--level1-color);
}

.list-page-wrapper__right-side__content__filter-bar-tablet__header__title {
    font-size: var(--fs-larger-1);
}

/*#endregion*/

/*#region Right Side Info And Question Bar*/
.list-page-wrapper__right-side__content__info-and-question-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 1px solid var(--dark-border-color);
    border-right: 1px solid var(--dark-border-color);
    border-top-right-radius: var(--border-radius-1);
    background-color: var(--level1-color);
    z-index: 3;
    transition: 0.3s ease-in-out;

    pointer-events: none;
    width: 10px;
    opacity: 0; 
}

.list-page-wrapper__right-side__content__info-and-question-bar.activated {
    pointer-events: all;
    width: 160px;
    opacity: 1;
}

.list-page-wrapper__right-side__content__info-and-question-bar__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 160px;
}

.list-page-wrapper__right-side__content__info-and-question-bar__list__item {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 12px;
    padding: 12px 21px;
}

.list-page-wrapper__right-side__content__info-and-question-bar__list__item i {
    width: 21px;
}

/*#endregion*/

/*#region Cart Group Mobile*/
.list-page-wrapper__right-side__content__header__user-group__cart-group-tablet {
    position: relative;
    padding: 6px 3px;
    display: none;
}

.list-page-wrapper__right-side__content__header__user-group__cart-group-tablet__amount {
    font-size: var(--fs-less-1);
    color: white;
    background-color: #da1814d0;
    position: absolute;
    padding: 0 3px;
    border-radius: 9px;
    bottom: 0px;
    left: 0px;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile {
    position: absolute;
    top: calc(100%);
    z-index: 3;
    left: 0;
    right: 0;
    width: 100%;
    background-color: var(--level2-color);
    border-bottom: 1px solid var(--dark-border-color);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3px;
    flex-direction: column;

    transition: 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile__upper {
    display: flex;
    gap: 9px;
    overflow-x: auto;
    width: 100%;
    padding: 9px;
    padding-bottom: 3px;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile__link-group {
    width: 100%;
    display: flex;
    padding: 12px 9px;
    padding-top: 3px;
    align-items: center;
    gap: 6px;
    height: 36px;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile__link-group i {
    margin-top: 1.2px;
    color: var(--secondary-color);
}

.list-page-wrapper__right-side__content__header__dropdown-mobile.activated {
    pointer-events: all;
    opacity: 1;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile__item {
    display: flex;
    padding: 9px;
    padding-right: 12px;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--dark-border-color);
    width: 300px;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile__item__image {
    width: 81px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile__item__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    padding-left: 12px;
    overflow: hidden;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile__item__info__title {
    font-size: var(--fs-larger-1);
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile__item__info__bottom-group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile__item__info__bottom-group__quantity {
    display: flex;
    gap: 9px;
}

.list-page-wrapper__right-side__content__header__dropdown-mobile__item__info__bottom-group__quantity span {
    color: var(--secondary-color);
}
/*#endregion*/

/*#region Mobile Search Group*/
.list-page-wrapper__right-side__content__body__mobile-search-group {
    padding-top: 12px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: relative;
    display: none;
}

.list-page-wrapper__right-side__content__body__mobile-search-group .fa-magnifying-glass {
    position: absolute;
    right: 4.2%;
    top: 50%;
}

.list-page-wrapper__right-side__content__body__mobile-search-group .fa-xmark {
    position: absolute;
    right: 12%;
    top: 50%;
}

.list-page-wrapper__right-side__content__body__mobile-search-group__input {
    border-radius: 21px;
    padding: 12px 15px;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 100%;
    border-color: transparent;
}

.list-page-wrapper__right-side__content__body__mobile-search-group__filter-button {
    color: var(--dark-text-color);
    flex: 1;
    font-size: var(--fs-less-1);
    border: 1px solid var(--dark-border-color);
    padding: 12px;    
    border-radius: var(--border-radius-1);
}
/*#endregion*/

/*#region Right Side Mobile Filter Group*/
.list-page-wrapper__right-side__content__body__mobile-filter-group {
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 7.2px;
    display: none;
    position: sticky;
    top: 0;
    padding: 12px 0;
    z-index: 3;
    background-color: var(--dark-background-color);
}

.list-page-wrapper__right-side__content__body__mobile-filter-group__item {
    padding: 6px 21px;
    border: 1px solid var(--dark-border-color);
    background-color: var(--level1-color);
    border-radius: var(--border-radius-1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.list-page-wrapper__right-side__content__body__mobile-filter-group__content {
    width: 100%;
    padding: 9px;
    padding-bottom: 3px;
    position: absolute;
    top: 100%;
    width: 100%;
    border-bottom: 1px solid var(--dark-border-color);
    border-top: 1px solid var(--dark-border-color);
    background-color: var(--level2-color);

    display: flex;
    flex-direction: column;
    height: 0;
    pointer-events: none;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.list-page-wrapper__right-side__content__body__mobile-filter-group__content.activated {
    height: 222px;
    opacity: 1;
    pointer-events: all;
}

.list-page-wrapper__right-side__content__body__mobile-filter-group__content__header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 12px 3px;
    padding-top: 3px;
    font-size: var(--fs-larger-1);
}

.list-page-wrapper__right-side__content__body__mobile-filter-group__content__header span {
    color: var(--secondary-color);
}

.list-page-wrapper__right-side__content__body__mobile-filter-group__content__header__icon-group {
    display: flex;
    align-items: center;
    gap: 6px;
}

.list-page-wrapper__right-side__content__body__mobile-filter-group__content__body {
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    overflow-x: scroll;
    gap: 12px;
    padding-bottom: 12px;
}

.list-page-wrapper__right-side__content__body__mobile-filter-group__content__body__item {
    width: 210px;
    height: 72px;
    border: 1px solid var(--dark-level2-border-color);
    border-radius: var(--border-radius-1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    font-size: var(--fs-larger-1);
    background-color: var(--level3-color);
}
/*#endregion*/

/*#region Mobile Utiliti Bar */
.list-page-wrapper__mobile-utilities {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 6svh;
    border-top: 1px solid var(--dark-border-color);
    background: var(--level1-color);
    backdrop-filter: blur(3px);
    z-index: 3;
    align-items: center;
    justify-content: end;
    padding: 0 18px;
    gap: 15px;
}

.list-page-wrapper__mobile-utilities__cart-group {
    position: relative;
}

.list-page-wrapper__mobile-utilities__cart-group__amount {
    position: absolute;
    bottom: -3px;
    left: -3px;
    padding: 0 3px;
    font-size: var(--fs-less-1);
    border-radius: 21px;
    background-color: var(--red-color);
}

.list-page-wrapper__mobile-utilities__cart-group-dropdown {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    height: 0px;
    border-top: 1px solid var(--dark-border-color);
    border-bottom: 1px solid var(--dark-border-color);
    background-color: var(--level2-color);
    transition: 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    padding: 12px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
}

.list-page-wrapper__mobile-utilities__cart-group-dropdown.activated {
    height: 134px;
    opacity: 1;
    pointer-events: all;    
}

.list-page-wrapper__mobile-utilities__cart-group-dropdown__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24%;
    padding-top: 2.4%;
    padding-right: 9px;
}

.list-page-wrapper__mobile-utilities__cart-group-dropdown__body {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 9px;
    padding: 3px 0 !important;
}

.list-page-wrapper__mobile-utilities__cart-group-dropdown__body__item {
    display: flex;
    align-items: center;
    width: 60%;
    display: flex;
    gap: 9px;
    margin: 3px 0;
    align-items: center;
    padding: 6px;
    border: 1px solid var(--dark-border-color);
    border-radius: var(--border-radius-1);
}

.list-page-wrapper__mobile-utilities__cart-group-dropdown__body__item__img {
    width: 36%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.list-page-wrapper__mobile-utilities__cart-group-dropdown__body__item__info {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 9px;
}

.list-page-wrapper__mobile-utilities__cart-group-dropdown__body__item__info__title {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: var(--fs-normal);
}

.list-page-wrapper__mobile-utilities__hamburger-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    width: 100%;
    height: 0px;
    border-top: 1px solid var(--dark-level2-border-color);
    border-bottom: 1px solid var(--dark-level2-border-color);
    background-color: var(--level2-color);
    transition: 0.3s ease-in-out;
    pointer-events: none;
    opacity: 0;
    display: flex;
}

.list-page-wrapper__mobile-utilities__hamburger-content.activated {
    height: 141px;
    pointer-events: all;
    opacity: 1;
}

.list-page-wrapper__mobile-utilities__hamburger-content__left-side {
    width: 85%;
    height: 100%;
}

.list-page-wrapper__mobile-utilities__hamburger-content__right-side {
    width: 15%;
    height: 100%;
    border-left: 1px solid var(--dark-border-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-page-wrapper__mobile-utilities__hamburger-content__right-side > * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-page-wrapper__mobile-utilities__hamburger-content__right-side i {
    flex: 1;
}

.list-page-wrapper__mobile-utilities__hamburger-content__right-side__info-group {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

/*#endregion*/
