.list-page-wrapper {
    --list-page-wrapper-padding: 0.72%;

    /* Left side */
    --left-side-width: 24%;
    --left-side-upper-height: 9%;
    --left-side-lower-height: calc(100% - var(--left-side-upper-height) - calc(var(--list-page-wrapper-padding) * 2));
    --left-side-gap: calc(var(--list-page-wrapper-padding) * 2);

    /* Right side */
    --right-side-width: calc(100% - var(--left-side-width));

    height: 100svh;
    width: 100vw;
    background-color: var(--dark-background-color);
    display: flex;
    justify-content: center;
}

/*#region List Page Left Side*/
.list-page-wrapper__left-side {
    height: 100%;
    width: var(--left-side-width);
    padding: var(--list-page-wrapper-padding);
    gap: var(--left-side-gap);
    display: flex;
    flex-direction: column;
}


/* UPPER */
.list-page-wrapper__left-side__upper {
    border-radius: var(--border-radius-2);
    border: 1px solid var(--dark-border-color);
    width: 100%;
    height: var(--left-side-upper-height);
    background-color: var(--dark-panel-color);
    display: flex;
    background: rgb(62, 0, 138);
    background: radial-gradient(circle, rgba(62, 0, 138, 1) 0%, rgba(197, 179, 88, 1) 100%);
    animation: list-page-left-upper-glowing-background 90s linear infinite;
    overflow: hidden;
    background-size: 360%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 90px;
}

.list-page-wrapper__left-side__upper__content {
    z-index: 2;
    color: var(--dark-text-color);
    height: 96%;
    padding: 4.5% 0;
    width: 98%;
    font-family: var(--font-primary);
    background-image: url("../assets/images/van-gogh-test.png");
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.list-page-wrapper__left-side__upper__content__overlay {
    position: absolute;
    z-index: 1;
    inset: 0;
    background-color: #151515ad;
}

.list-page-wrapper__left-side__upper__content__title {
    font-size: var(--fs-larger-5);
    margin: 0 6px;
    z-index: 2;
    font-family: var(--font-secondary);
}

/* LOWER */
.list-page-wrapper__left-side__lower {
    border-radius: var(--border-radius-2);
    border: 1px solid var(--dark-border-color);
    width: 100%;
    height: var(--left-side-lower-height);
    background-color: var(--dark-panel-color);
    min-height: 450px;
    padding: 3% 4.5%;
}

.list-page-wrapper__left-side__lower__header {
    width: 100%;
    max-height: 150px;
    overflow: auto;
    gap: 6px;
    display: flex;
    flex-wrap: wrap;
}

.list-page-wrapper__left-side__lower__body__breadcrumb {
    width: 100%;
    display: flex;
    align-items: center;
    display: none;
    justify-content: space-between;
}

.list-page-wrapper__left-side__lower__body__breadcrumb__text-group {
    color: var(--secondary-color);
    display: flex;
    gap: 6px;
    font-size: var(--fs-less-1);
}

.list-page-wrapper__left-side__lower__body__breadcrumb__text-group span {
    color: var(--dark-text-color);
}

.list-page-wrapper__left-side__lower__body__breadcrumb i {
    font-size: var(--fs-larger-1);
}

.list-page-wrapper__left-side__lower__body__menu-level-1-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-top: 3%;
}

.list-page-wrapper__left-side__lower__body__menu-level-1-list__item {
    width: 100%;
    border: 1px solid var(--dark-border-color);
    height: 81px;
    display: flex;
    overflow: hidden;
}

.list-page-wrapper__left-side__lower__body__menu-level-1-list__item__left-side {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--fs-larger-1);
}

.list-page-wrapper__left-side__lower__body__menu-level-1-list__item__right-side {
    width: 70%;
    height: 100%;
    background-color: red;
    clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}

/*#endregion*/

/*#region List Page Right Side*/
.list-page-wrapper__right-side {
    padding: var(--list-page-wrapper-padding) 0px;
    padding-right: var(--list-page-wrapper-padding);
    height: 100%;
    width: var(--right-side-width);
}

.list-page-wrapper__right-side__content {
    border: 1px solid var(--dark-border-color);
    width: 100%;
    background-color: var(--dark-panel-color);
    border-radius: var(--border-radius-2);
    height: 100%;
}

/*#endregion*/